/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Install button from PWA CODELAB */
#butInstall {
    background: url(/images/install.svg) center center no-repeat;
    float: right;
    position: relative;
    z-index: 1;
    height: 60px;
    margin: 0 18px;
    width: 22px;
    border: none;
    opacity: 80%;
}

.container {
    max-width: 100%;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 75%;
    }
}
